@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);

  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);
}

body {
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding: 2rem;
}

div.card {
  font-family: "Outfit", sans-serif;
  background-color: var(--White);
  width: 500px;
  height: 1250px;
  border-radius: 15px;
}

h1.heading {
  font-family: "Young Serif", serif;
  padding-left: 2rem;
  color: var(--DarkCharcoal);
  font-weight: 400;
}

p.para1 {
  font-size: 0.66rem;
  padding: 0.6rem 2rem;
  color: var(--WengeBrown);
}

div.bg-clr {
  background-color: var(--RoseWhite);
  width: 440px;
  height: 140px;
  margin-left: 2rem;
  margin-top: 12px;
  border-radius: 1rem;
}

h1.head1 {
  padding: 1.2rem 2rem;
  padding-bottom: 10px;
  font-size: 1rem;
  color: var(--DarkRaspberry);
}

ul.content1 {
  color: var(--WengeBrown);
  font-family: "Outfit", sans-serif;
  padding-left: 3.3rem;
  font-size: small;
  line-height: 1.6rem;
}

h1.head2 {
  color: var(--Nutmeg);
  font-family: "Young Serif", serif;
  padding: 1rem 2rem;
  font-size: large;
  font-weight: 600;
}

ul.content2 {
  color: var(--WengeBrown);
  font-family: "Outfit", sans-serif;
  padding-left: 3.2rem;
  padding-bottom: 1rem;
  font-size: small;
  line-height: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h1.head3 {
  color: var(--Nutmeg);
  font-family: "Young Serif", serif;
  padding-left: 2rem;
  margin-top: 1rem;
  font-size: large;
  font-weight: 600;
}

ol.content3 li::marker {
  color: var(--Nutmeg);
  font-weight: bolder;
  word-spacing: 10px;
}

ol.content3 {
  color: var(--WengeBrown);
  font-family: "Outfit", sans-serif;
  padding: 0.5rem 1rem 1rem 3.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-size: 0.7rem;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h1.head4 {
  color: var(--Nutmeg);
  font-family: "Young Serif", serif;
  padding-left: 2rem;
  margin-top: 1rem;
  font-size: large;
  font-weight: 650;
}

p.para2 {
  font-size: 12px;
  padding: 1rem 2rem;
  color: var(--WengeBrown);
  font-weight:300;
}

section.nutrition {
  border-bottom: none;
  padding-bottom: 30px;
}
section table {
  text-align: left;
  text-indent: 24px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

section tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
section th,
td {
  padding: 10px;
}
section th {
  color: var(--WengeBrown);
  font-weight: 400;
}
section td {
  color: var(--Nutmeg);
  font-weight: 600;
}
section tr:last-child {
  border: none;
}
